.header-nav{
	display: flex;
	justify-content: space-between;
	height: 60px;
	margin-top: 30px;
	align-items: center;
}

.nav-list{
	display: flex;
	column-gap: 30px;
}

.header-h1{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
}

.header-h1::before{
	content: 'Timer: ';
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}

.header-h1::after{
	content: ' s';
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}

.clicks-h1 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
}

.clicks-h1::before{
	content: 'Number of clicks: ';
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}

.header-items {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

@media (max-width: 765px){
	.header-h1,
	.clicks-h1,
	.header-h1::before,
	.header-h1::after,
	.clicks-h1::before {
		font-size: 15px;
	}
	.nav-list{
		column-gap: 5px;
	}
}