.footer {
	background: #FFFF99;
}

.footer-content {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-content a {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}

.footer-content a::after{
	content: 'Drius123';
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	padding-left: 5px;
}

.footer-content h1 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}